header {
  background-color: #e3f2fd;
  padding-left: 10%;
  padding-right: 14%;
}

.dropdown-menu>li {
  width: 180px
}

.navbar-expand-lg {
  height: 80px;
  background-color: #e3f2fd;
}

.justify-content-center {
  width: 50%;
}

.justify-content-end {
  width: 220px;
}

.nav-item>a {
  color: gray;
}

.nav {
  --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
}

#logo {
  width: 100%;
}

.navbar-brand {
  width: 6%;
  margin-right: 3%;
}

#adminTab {
  display: none;
}