header {
  background-color: #e3f2fd;
  padding-left: 10%;
  padding-right: 10%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
  padding: 0.5rem 1rem;
}

.navbar-expand-lg {
  height: 80px;
  background-color: #e3f2fd;
}

.navbar-brand img {
  width: 50px;
  height: auto;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  color: #000;
}

.navbar-collapse {
  justify-content: space-between;
}

.navbar-nav {
  align-items: center;
}

.nav-link {
  font-size: 1rem;
  color: #555;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #000000;
}

#adminTab .nav-item {
  color: #555;
  font-size: 1rem;
}

#adminTab {
  display: flex;
  margin-left: 1rem;
}

#headerSearchForm {
  max-width: 500px;
  display: flex;
  align-items: center;
}

#headerSearchInput {
  height: 40px;
  text-align: center;
  border-radius: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
}

#headerSearchButton {
  width: 80px;
  margin-left: 10px;
  height: 40px;
  border-radius: 20px;
  font-size: 1rem;
}

#sign-in-before .nav-link,
#sign-in-after .nav-link {
  font-size: 1rem;
  color: #555;
}

#sign-in-before .nav-link:hover,
#sign-in-after .nav-link:hover {
  color: #000000;
}

#sign-in-after {
  display: flex;
  align-items: center;
}

.navbar-collapse ul {
  margin: 0;
  padding: 0;
}

#adminTab {
  display: none;
}
