body {
  font-family: 'Montserrat', sans-serif;
  background: white;
}

h1 {
  color: #e91e63;
  font-size: 48px;
  letter-spacing: -3px;
  text-align: center;
  margin: 50px 0 70px 0;
  transition: 0.2s linear;
}

.container {
  display: block;
  max-width: 680px;
  width: 80%;
  margin: 50px auto;
}
