<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<link rel="stylesheet" href="/css/common/header.css" />
<script type="module" src="/js/common/header.js"></script>

<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/views"><img id="logo"
          src="https://cdn-icons-png.flaticon.com/128/432/432312.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link" href="/views/shows/list"><b>공연 전체 보기</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/views/shows/list"><b>공연 전체 보기</b></a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              메뉴
            </a>
            <ul class="dropdown-menu">
              <li><a class="nav-link" href="/views/shows/list"><b>공연 전체 보기</b></a></li>
              <li><a class="nav-link" href="/views/trades/list"><b>중고 거래 목록 보기</b></a></li>
            </ul>
          </li>
          <li id="adminTab" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              관리자 탭
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/views/shows">공연 생성</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex justify-content-center" role="search" id="headerSearchForm">
          <input class="form-control me-2 search-input" type="search" placeholder="Search" aria-label="Search"
            id="headerSearchInput" />
          <button type="button" class="btn btn-outline-secondary" id="headerSearchButton">
            <b>Search</b>
          </button>
        </form>
        <ul class="nav justify-content-end" id="sign-in-before">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/views/auth/sign"><b>로그인</b></a>
          </li>
        </ul>
        <ul class="nav justify-content-end" id="sign-in-after" style="display: none">
          <li class="nav-item">
            <a class="nav-link" href="/views/users/me"><b>내 정보</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" id="sign-out-btn"><b>로그아웃</b></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>