#carouselExampleIndicators {
  margin: 1% 18% 2% 18%;
}

.category-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.category-btn {
  color: black;
  font-size: 16px;
  margin: 0 10px;
}

.category-btn:hover {
  color: gray;
  text-decoration: underline;
}
